body {
    margin: 0;
    text-align: center;
    color:beige
}

@font-face {
    font-family: 'digital-clock-font';
    src: url('digital-7.ttf');
}

.main {
    background: #2364aa;
    width: 500px;
    margin: 20px auto;
    border: 10px solid #fec601 ;
    border-radius: 10px;
    
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}

#home, #guest {
    margin:0px;
    padding-top: 15px;
}

.score-home, .score-guest {
    color: #E97116;
    background-color: black;
    border-radius: 8px;
    margin: auto;
    width: 120px;
    height: 100px;
    font-family: 'digital-clock-font';
    font-size: 3rem;
}
#scores {
    margin-top: 30px;
    margin-bottom: 50px;
}

.one, .two, .three {
    padding: 8px;
    border: 1px solid beige;
    margin: auto 4px;
    border-radius: 4px;
    font-family: 'digital-clock-font'
}

#newGame {
    padding: 10px 20px;
    margin: 0px auto 20px;
    background: transparent;
    border: 1px solid beige;
    color: beige;

}

